# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "sound/defaults.yaml" as defaults %}
{% import_yaml "sound/osfamilymap.yaml" as os_familymap %}

{% set sound = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    os_familymap,
    merge=salt['pillar.get']('sound:lookup', {}),
  ),
  base='sound')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
