{## start with defaults from defaults.yaml ##}
{% import_yaml "docker_containers/defaults.yaml" as defaults %}
{% import_yaml "docker_containers/osmap.yaml" as osmap %}

{% set docker_containers = salt.grains.filter_by(
    defaults,
    merge=salt.grains.filter_by(
        osmap,
        merge=salt.pillar.get('docker_containers', {}),
    ),
    base='docker_containers')
%}
