# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "graphics/defaults.yaml" as defaults %}
{% import_yaml "graphics/osfamilymap.yaml" as osfamilymap %}

{% set graphics = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('graphics:lookup', {}),
  ),
  base='graphics')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
