[InputSource0]
xkb={{ keyboard_layout }}

[User]
Email={{ email }}
Language=
Session={{ desktop_environment }}
XSession={{ desktop_environment }}
{%- if picture_configured %}
Icon=/var/lib/AccountsService/icons/{{ username }}.png
{% endif -%}
SystemAccount=false
