# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "games/defaults.yaml" as defaults %}
{% import_yaml "games/osfamilymap.yaml" as osfamilymap %}

{% set games = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('games:lookup', {}),
  ),
  base='games')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
