# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "chat/defaults.yaml" as defaults %}
{% import_yaml "chat/osfamilymap.yaml" as osfamilymap %}

{% set chat = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('chat:lookup', {}),
  ),
  base='chat')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
