# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "arduino/defaults.yaml" as defaults %}
{% import_yaml "arduino/osfamilymap.yaml" as osfamilymap %}

{% set arduino = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('arduino:lookup', {}),
  ),
  base='arduino')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
