{% set common_linux = salt.grains.filter_by({
    'default': {
      'pkgs': {
        'git': 'git',
        'less': 'less',
        'mlocate': 'mlocate',
        'ncdu': 'ncdu',
        'parallel': 'parallel',
        'rsync': 'rsync',
        'time': 'time',
        'tree': 'tree',
        'vi': 'vi',
        'wget': 'wget',
      },
    },
    'Debian': {
      'pkgs': {
        'python-pip': 'python-pip',
        'rename': 'rename',
        'vi': 'vim',
      },
    },
    'RedHat': {
    },
    'Arch': {
      'pkgs': {
        'rename': 'perl-rename',
      },
    },
}, grain='os_family', merge=salt.pillar.get('common_linux:overrides'), base='default') %}

{# vim:set et sw=2 ts=4 ft=sls: #}
