# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "muttmail/defaults.yaml" as defaults %}
{% import_yaml "muttmail/osfamilymap.yaml" as osfamilymap %}

{% set muttmail = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('muttmail:lookup', {}),
  ),
  base='muttmail')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
