{## Start with defaults from defaults.yaml ##}
{% import_yaml "programming/defaults.yaml" as defaults %}
{% import_yaml "programming/osfamilymap.yaml" as osfamilymap %}

{% set programming = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('programming:lookup', {}),
  ),
  base='programming')
%}
{# vim:set et sw=2 ts=4 ft=sls: #}
