{%- set host=salt.grains.get('id', None) %}
{%- set mac_address = [] %}
{%- for interface, addr in salt.grains.get('hwaddr_interfaces').items() %}
    {%- if interface.startswith('wlp') %}
        {%- set _ = mac_address.append(addr) %}
    {%- endif %}
{%- endfor %}
{%- set unique_id = host ~ '-EMPIRE-connection' %}

[connection]
id=EMPIRE
uuid={{ unique_id | uuid }}
type=wifi
permissions=

[wifi]
mac-address={{ mac_address[0] }}
mac-address-blacklist=
mode=infrastructure
ssid=EMPIRE

[wifi-security]
auth-alg=open
key-mgmt=wpa-psk
psk={{ wifi_psk }}

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto
