{%- set hostname = salt.grains.get('id', None) %}
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  file:
  {% if hostname == 'avasarala.ginstoo.net' %}
    filename: "/etc/traefik/pris.yaml"
  {% endif %}

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

certificatesResolvers:
  letsencrypt:
    acme:
      dnsChallenge:
        provider: digitalocean
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"
      email: {{ letsencrypt_email }}
      storage: /letsencrypt/acme.json

api:
  insecure: true

accessLog: {}
