{## Start with defaults from defaults.yaml ##}
{% import_yaml "android/defaults.yaml" as default_settings %}

{% set os_family_map = salt.grains.filter_by({
  'default': {
    },
}, grain='os_family', merge=salt.pillar.get('android:overrides'), base='default') %}

{## Merge the flavour map to the default settings ##}
{% do default_settings.android.update(os_family_map) %}

{## Merge in android:lookup pillar ##}
{% set android = salt['pillar.get'](
  'android',
  default=default_settings.android,
  merge=True
  )
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
