{## Start with defaults from defaults.yaml ##}
{% import_yaml "virtualization/defaults.yaml" as defaults %}
{% import_yaml "virtualization/osfamilymap.yaml" as osfamilymap %}

{% set virtualization = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('virtualization:lookup', {}),
  ),
  base='virtualization')
  %}
{# vim:set et sw=2 ts=4 ft=sls: #}
