{## Start with defaults from defaults.yaml ##}
{% import_yaml "workstation_linux/defaults.yaml" as defaults %}
{% import_yaml "workstation_linux/osfamilymap.yaml" as osfamilymap %}

{% set workstation_linux = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('workstation_linux', {}),
  ),
  base='workstation_linux')
%}
