{## Start with defaults from defaults.yaml ##}
{% import_yaml "networking/defaults.yaml" as defaults %}
{% import_yaml "networking/osfamilymap.yaml" as osfamilymap %}

{% set networking = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('networking:lookup', {}),
  ),
  base='networking')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
