# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "fonts/defaults.yaml" as defaults %}
{% import_yaml "fonts/osfamilymap.yaml" as osfamilymap %}

{% set fonts = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('fonts:lookup', {}),
  ),
  base='fonts')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
