#######################################################################
#                 This file is managed by Saltstack.                  #
#                      Any changes will be lost.                      #
#######################################################################

# Read the user manual for documentation: http://www.musicpd.org/doc/user/
# or /usr/share/doc/mpd/user-manual.html


# Files and directories #######################################################
#
# This setting controls the top directory which MPD will search to discover the
# available audio files and add them to the daemon's online database. This 
# setting defaults to the XDG directory, otherwise the music directory will be
# be disabled and audio files will only be accepted over ipc socket (using
# file:// protocol) or streaming files over an accepted protocol.
#
music_directory		"{{ config.music_directory }}"
#
# This setting sets the MPD internal playlist directory. The purpose of this
# directory is storage for playlists created by MPD. The server will use 
# playlist files not created by the server but only if they are in the MPD
# format. This setting defaults to playlist saving being disabled.
#
playlist_directory		"{{ config.playlist_directory }}"
#
# This setting sets the location of the MPD database. This file is used to
# load the database at server start up and store the database while the 
# server is not up. This setting defaults to disabled which will allow
# MPD to accept files over ipc socket (using file:// protocol) or streaming
# files over an accepted protocol.
#
db_file			"{{ config.db_file }}"
# 
# These settings are the locations for the daemon log files for the daemon.
# These logs are great for troubleshooting, depending on your log_level
# settings.
#
# The special value "syslog" makes MPD use the local syslog daemon. This
# setting defaults to logging to syslog, otherwise logging is disabled.
#
log_file			"{{ config.log_file }}"
#
# This setting sets the location of the file which stores the process ID
# for use of mpd --kill and some init scripts. This setting is disabled by
# default and the pid file will not be stored.
#
pid_file			"{{ config.pid_file }}"
#
# This setting sets the location of the file which contains information about
# most variables to get MPD back into the same general shape it was in before
# it was brought down. This setting is disabled by default and the server 
# state will be reset on server start up.
#
state_file			"{{ config.state_file }}"
#
# The location of the sticker database.  This is a database which
# manages dynamic information attached to songs.
#
sticker_file                   "{{ config.sticker_file }}"
#
###############################################################################


# General music daemon options ################################################
#
# This setting specifies the user that MPD will run as. MPD should never run as
# root and you may use this setting to make MPD change its user ID after
# initialization. This setting is disabled by default and MPD is run as the
# current user.
#
user				"{{ config.user }}"
#
# This setting specifies the group that MPD will run as. If not specified
# primary group of user specified with "user" setting will be used (if set).
# This is useful if MPD needs to be a member of group such as "audio" to
# have permission to use sound card.
#
{% if config.group is defined %}
group                          "{{ config.group }}"
{% else %}
#group                          "nogroup"
{% endif %}
#
# This setting sets the address for the daemon to listen on. Careful attention
# should be paid if this is assigned to anything other then the default, any.
# This setting can deny access to control of the daemon. Choose any if you want
# to have mpd listen on every address. Not effective if systemd socket
# activation is in use.
#
# For network
bind_to_address		"{{ config.bind_to_address }}"
#
# And for Unix Socket
#bind_to_address		"/run/mpd/socket"
#
# This setting is the TCP port that is desired for the daemon to get assigned
# to.
#
{% if config.port is defined %}
port				"{{ config.port }}"
{% else %}
#port				"6600"
{% endif %}
#
# This setting controls the type of information which is logged. Available 
# setting arguments are "default", "secure" or "verbose". The "verbose" setting
# argument is recommended for troubleshooting, though can quickly stretch
# available resources on limited hardware storage.
#
{% if config.log_level is defined %}
log_level           "{{ config.log_level }}"
{% else %}
#log_level			"default"
{% endif %}
#
# If you have a problem with your MP3s ending abruptly it is recommended that 
# you set this argument to "no" to attempt to fix the problem. If this solves
# the problem, it is highly recommended to fix the MP3 files with vbrfix
# (available as vbrfix in the debian archive), at which
# point gapless MP3 playback can be enabled.
#
{% if config.gapless_mp3_playback is defined %}
gapless_mp3_playback			"{{ config.gapless_mp3_playback }}"
{% else %}
#gapless_mp3_playback			"yes"
{% endif %}
#
# Setting "restore_paused" to "yes" puts MPD into pause mode instead
# of starting playback after startup.
#
{% if config.restore_paused is defined %}
restore_paused          "{{ config.restore_paused }}"
{% else %}
#restore_paused "no"
{% endif %}
#
# This setting enables MPD to create playlists in a format usable by other
# music players.
#
{% if config.save_absolute_paths_in_playlists is defined %}
save_absolute_paths_in_playlists        "{{ config.save_absolute_paths_in_playlists }}"
{% else %}
#save_absolute_paths_in_playlists	"no"
{% endif %}
#
# This setting defines a list of tag types that will be extracted during the 
# audio file discovery process. The complete list of possible values can be
# found in the mpd.conf man page.
{% if config.metadata_to_use is defined %}
metadata_to_use     "{% for metadata in config.metadata_to_use %}{{ metadata }}{% if loop.last %}{% else %},{% endif %}{% endfor %}"
{% else %}
#metadata_to_use	"artist,album,title,track,name,genre,date,composer,performer,disc"
{% endif %}
#
# This setting enables automatic update of MPD's database when files in 
# music_directory are changed.
#
{% if config.auto_update is defined %}
auto_update    "{{ config.auto_update }}"
{% else %}
#auto_update    "yes"
{% endif %}
#
# Limit the depth of the directories being watched, 0 means only watch
# the music directory itself.  There is no limit by default.
#
{% if config.auto_update_depth is defined %}
auto_update_depth "{{ config.auto_update_depth }}"
{% else %}
#auto_update_depth "3"
{% endif %}
#
###############################################################################


# Symbolic link behavior ######################################################
#
# If this setting is set to "yes", MPD will discover audio files by following 
# symbolic links outside of the configured music_directory.
#
{% if config.follow_outside_symlinks is defined %}
follow_outside_symlinks	"{{ config.follow_outside_symlinks }}"
{% else %}
#follow_outside_symlinks	"yes"
{% endif %}
#
# If this setting is set to "yes", MPD will discover audio files by following
# symbolic links inside of the configured music_directory.
#
{% if config.follow_inside_symlinks is defined %}
follow_inside_symlinks		"{{ config.follow_inside_symlinks }}"
{% else %}
#follow_inside_symlinks		"yes"
{% endif %}
#
###############################################################################


# Zeroconf / Avahi Service Discovery ##########################################
#
# If this setting is set to "yes", service information will be published with
# Zeroconf / Avahi.
#
{% if config.zeroconf_enabled is defined %}
zeroconf_enabled		"{{ config.zeroconf_enabled }}"
{% else %}
#zeroconf_enabled		"yes"
{% endif %}
#
# The argument to this setting will be the Zeroconf / Avahi unique name for
# this MPD server on the network.
#
{% if config.zeroconf_name is defined %}
zeroconf_name			"{{ config.zeroconf_name }}"
{% else %}
#zeroconf_name			"Music Player"
{% endif %}
#
###############################################################################


# Permissions #################################################################
#
# If this setting is set, MPD will require password authorization. The password
# can setting can be specified multiple times for different password profiles.
#
{% if config.passwords is defined %}
{% for password in config.passwords %}
password                        "{{ password }}"
{% endfor %}
{% else %}
#password                        "password@read,add,control,admin"
{% endif %}
#
# This setting specifies the permissions a user has who has not yet logged in. 
#
{% if config.default_permissions is defined %}
default_permissions             "{{ config.default_permissions }}"
{% else %}
#default_permissions             "read,add,control,admin"
{% endif %}
#
###############################################################################


# Database #######################################################################
#

{% if config.databases is defined %}
{% for database, data in config.databases.items() %}
database {
{% if data.plugin is defined %}
    {% set plugin = data.plugin %}
{% else %}
    {% set plugin = database %}
{% endif %}
        plugin "{{ plugin }}"
        {% for k, v in data.items() %}
            {% if k == 'plugin' %}
            {% else %}
        {{ k }}         "{{ v }}"
            {% endif %}
        {% endfor %}
}
{% endfor %}
{% else %}
#database {
#       plugin "proxy"
#       host "other.mpd.host"
#       port "6600"
#}
{% endif %}

# Input #######################################################################
#

{% for input, data in config.inputs.items() %}
    {% if data.name is defined %}
        {% set name = data.name %}
    {% else %}
        {% set name = input %}
    {% endif %}
input {
    plugin "{{ name }}"
}
{% endfor %}
#       proxy "proxy.isp.com:8080"
#       proxy_user "user"
#       proxy_password "password"

#
###############################################################################

# Audio Output ################################################################
#
# MPD supports various audio output types, as well as playing through multiple 
# audio outputs at the same time, through multiple audio_output settings 
# blocks. Setting this block is optional, though the server will only attempt
# autodetection for one sound card.
#
# An example of an ALSA output:
#
{% if config.audio_outputs is defined %}
{% for audio_output, data in config.audio_outputs.items() %}
    {% if data.type is defined %}
        {% set type = data.type %}
    {% else %}
        {% set type = audio_output %}
    {% endif %}
audio_output {
    type		"{{ type }}"
    {% for k, v in data.items() %}
        {% if k == 'type' %}
        {% else %}
    {{ k }}     "{{ v }}"
        {% endif %}
    {% endfor %}
}
{% endfor %}
{% endif %}

#	device		"hw:0,0"	# optional
#	mixer_type      "hardware"      # optional
#	mixer_device	"default"	# optional
#	mixer_control	"PCM"		# optional
#	mixer_index	"0"		# optional
#
# An example of an OSS output:
#
#audio_output {
#	type		"oss"
#	name		"My OSS Device"
#	device		"/dev/dsp"	# optional
#	mixer_type      "hardware"      # optional
#	mixer_device	"/dev/mixer"	# optional
#	mixer_control	"PCM"		# optional
#}
#
# An example of a shout output (for streaming to Icecast):
#
#audio_output {
#	type		"shout"
#	encoder		"vorbis"		# optional
#	name		"My Shout Stream"
#	host		"localhost"
#	port		"8000"
#	mount		"/mpd.ogg"
#	password	"hackme"
#	quality		"5.0"
#	bitrate		"128"
#	format		"44100:16:1"
#	protocol	"icecast2"		# optional
#	user		"source"		# optional
#	description	"My Stream Description"	# optional
#	url             "http://example.com"    # optional
#	genre		"jazz"			# optional
#	public		"no"			# optional
#	timeout		"2"			# optional
#	mixer_type      "software"              # optional
#}
#
# An example of a recorder output:
#
#audio_output {
#       type            "recorder"
#       name            "My recorder"
#       encoder         "vorbis"                # optional, vorbis or lame
#       path            "/var/lib/mpd/recorder/mpd.ogg"
##      quality         "5.0"                   # do not define if bitrate is defined
#       bitrate         "128"                   # do not define if quality is defined
#       format          "44100:16:1"
#}
#
# An example of a httpd output (built-in HTTP streaming server):
#
#audio_output {
#	type		"httpd"
#	name		"My HTTP Stream"
#	encoder		"vorbis"		# optional, vorbis or lame
#	port		"8000"
#	bind_to_address "0.0.0.0"               # optional, IPv4 or IPv6
#	quality		"5.0"			# do not define if bitrate is defined
#	bitrate		"128"			# do not define if quality is defined
#	format		"44100:16:1"
#	max_clients     "0"                     # optional 0=no limit
#}
#
# An example of a pulseaudio output (streaming to a remote pulseaudio server)
# Please see README.Debian if you want mpd to play through the pulseaudio
# daemon started as part of your graphical desktop session!
#
#audio_output {
#	type		"pulse"
#	name		"My Pulse Output"
#	server		"remote_server"		# optional
#	sink		"remote_server_sink"	# optional
#}
#
# An example of a winmm output (Windows multimedia API).
#
#audio_output {
#	type		"winmm"
#	name		"My WinMM output"
#	device		"Digital Audio (S/PDIF) (High Definition Audio Device)" # optional
#		or
#	device		"0"		# optional
#	mixer_type	"hardware"	# optional
#}
#
# An example of an openal output.
#
#audio_output {
#	type		"openal"
#	name		"My OpenAL output"
#	device		"Digital Audio (S/PDIF) (High Definition Audio Device)" # optional
#}
#
# An example of an sndio output.
#
#audio_output {
#  type        "sndio"
#  name        "sndio output"
#  mixer_type  "software"
#}
#
## Example "pipe" output:
#
#audio_output {
#	type		"pipe"
#	name		"my pipe"
#	command		"aplay -f cd 2>/dev/null"
## Or if you're want to use AudioCompress
#	command		"AudioCompress -m | aplay -f cd 2>/dev/null"
## Or to send raw PCM stream through PCM:
#	command		"nc example.org 8765"
#	format		"44100:16:2"
#}
#
## An example of a null output (for no audio output):
#
#audio_output {
#	type		"null"
#	name		"My Null Output"
#	mixer_type      "none"                  # optional
#}
#
###############################################################################


# Normalization automatic volume adjustments ##################################
#
# This setting specifies the type of ReplayGain to use. This setting can have
# the argument "off", "album", "track" or "auto". "auto" is a special mode that
# chooses between "track" and "album" depending on the current state of
# random playback. If random playback is enabled then "track" mode is used.
# See <http://www.replaygain.org> for more details about ReplayGain.
# This setting is off by default.
#
{% if config.replaygain is defined %}
replaygain			"{{ config.replaygain }}"
{% else %}
#replaygain			"album"
{% endif %}
#
# This setting sets the pre-amp used for files that have ReplayGain tags. By
# default this setting is disabled.
#
{% if config.replaygain_preamp is defined %}
replaygain_preamp		"{{ config.replaygain_preamp }}"
{% else %}
#replaygain_preamp		"0"
{% endif %}
#
# This setting sets the pre-amp used for files that do NOT have ReplayGain tags.
# By default this setting is disabled.
#
{% if config.replaygain_missing_preamp is defined %}
replaygain_missing_preamp	"{{ config.replaygain_missing_preamp }}"
{% else %}
#replaygain_missing_preamp	"0"
{% endif %}
#
# This setting enables or disables ReplayGain limiting.
# MPD calculates actual amplification based on the ReplayGain tags
# and replaygain_preamp / replaygain_missing_preamp setting.
# If replaygain_limit is enabled MPD will never amplify audio signal
# above its original level. If replaygain_limit is disabled such amplification
# might occur. By default this setting is enabled.
#
{% if config.replaygain_limit is defined %}
replaygain_limit		"{{ config.replaygain_limit }}"
{% else %}
#replaygain_limit		"yes"
{% endif %}
#
# This setting enables on-the-fly normalization volume adjustment. This will
# result in the volume of all playing audio to be adjusted so the output has 
# equal "loudness". This setting is disabled by default.
#
{% if config.volume_normalization is defined %}
volume_normalization		"{{ config.volume_normalization }}"
{% else %}
#volume_normalization		"no"
{% endif %}
#
###############################################################################


# Character Encoding ##########################################################
#
# If file or directory names do not display correctly for your locale then you 
# may need to modify this setting.
#
filesystem_charset		"{{ config.filesystem_charset }}"
#
###############################################################################
