#!/bin/bash

traefik_certfile={{ traefik_mountpoint }}/certificates/acme.json
domain={{ domain }}
pemfile={{ znc_pemfile }}
docker_user={{ docker_user }}
docker_group={{ docker_group }}

# Export key
cat "$traefik_certfile" | \
    jq --raw-output --arg domain "$domain" '.letsencrypt.Certificates[] |
        select(.domain.main == $domain) |
        .key' |
    base64 -d > "$pemfile"

# Export certificate
cat "$traefik_certfile" | \
    jq  --raw-output --arg domain "$domain" '.letsencrypt.Certificates[] |
        select(.domain.main == $domain) |
        .certificate' |
    base64 -d >> "$pemfile"

chown "$docker_user":"$docker_group" "$pemfile"

# vim:set et sw=4 ts=4 ft=sh.jinja:
