{## Start with defaults from defaults.yaml ##}
{% import_yaml "video/defaults.yaml" as defaults %}
{% import_yaml "video/osfamilymap.yaml" as osfamilymap %}

{% set video = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('video:overrides', {}),
  ),
  base='video')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
