{## Start with defaults from defaults.yaml ##}
{% import_yaml "mounts/defaults.yaml" as defaults %}
{% import_yaml "mounts/osfamilymap.yaml" as osfamilymap %}

{% set mounts = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('mounts', {}),
  ),
  base='mounts')
%}
{#
{% set os_family_map = salt.grains.filter_by({
  'default': {
    },
}, grain='os_family', merge=salt.pillar.get('mounts:overrides'), base='default') %}
#}

{## Merge the flavour map to the default settings ##}
{# {% do default_settings.mounts.update(os_family_map) %} #}

{## Merge in mounts:lookup pillar ##}
{#
{% set mounts = salt['pillar.get'](
  'mounts',
  default=default_settings.mounts,
  merge=True
  )
%}
#}

{# vim:set et sw=2 ts=4 ft=sls: #}
