{## Start with defaults from defaults.yaml ##}
{% set os_family = salt['grains.get']('os_family', 'None') %}
{% import_yaml "mate/" ~ os_family.lower() ~ "/defaults.yaml" as default_settings %}

{% set os_family_map = salt.grains.filter_by({
  'default': {
    },
}, grain='os_family', merge=salt.pillar.get('mate:overrides'), base='default') %}

{## Merge the flavour map to the default settings ##}
{% do default_settings.mate.update(os_family_map) %}

{## Merge in mate:lookup pillar ##}
{% set mate = salt['pillar.get'](
  'mate',
  default=default_settings.mate,
  merge=True
  )
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
