# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "gnome/defaults.yaml" as defaults %}
{% import_yaml "gnome/osfamilymap.yaml" as osfamilymap %}

{% set gnome = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('gnome:lookup', {}),
  ),
  base='gnome')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
