{% set requirements = salt.grains.filter_by(
  {
    'default': {
        'pkgs': {
            'gnupg': 'gnupg',
            'python_gnupg': 'python-gnupg',
            'pcsc_tools': 'pcsc-tools',
            'pinentry_curses': 'pinentry-curses',
            'yubikey-personalization': 'yubikey-personalization',
            'hopenpgp-tools': 'hopenpgp-tools',
        },
    },
    'Arch': {
        'pkgs': {
            'ccid_driver': 'ccid',
            'libusb': 'libusb-compat',
            'pinentry_curses': 'pinentry',
        },
    },
    'Debian': {
        'pkgs': {
            'pcsc': 'pcscd',
            'gpg-agent': 'gpg-agent',
            'scdaemon': 'scdaemon',
            'libusb': 'libusb-0.1-4',
        },
    },
  },
grain="os_family", merge=salt.pillar.get('yubikey:overrides'), base='default') %}
