# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "xorg/defaults.yaml" as defaults %}
{% import_yaml "xorg/osfamilymap.yaml" as osfamilymap %}

{% set xorg = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('xorg:lookup', {}),
  ),
  base='xorg')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
