# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "wire/defaults.yaml" as defaults %}
{% import_yaml "wire/osfamilymap.yaml" as osfamilymap %}

{% set wire = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('wire:lookup', {}),
  ),
  base='wire')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}

