{## Start with defaults from defaults.yaml ##}
{% import_yaml "zfs/defaults.yaml" as defaults %}
{% import_yaml "zfs/osfamilymap.yaml" as osfamilymap %}

{% set zfs = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('zfs', {}),
  ),
  base='zfs')
%}
{# vim:set et sw=2 ts=4 ft=sls: #}
