# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "mpd/defaults.yaml" as defaults %}
{% import_yaml "mpd/osfamilymap.yaml" as osfamilymap %}

{% set mpd = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('mpd:lookup', {}),
  ),
  base='mpd')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
