{## Start with defaults from defaults.yaml ##}
{% set os_family = salt['grains.get']('os_family', 'None') %}
{% import_yaml "plasma/" ~ os_family.lower() ~ "/defaults.yaml" as default_settings %}

{% set os_family_map = salt.grains.filter_by({
  'default': {
    },
}, grain='os_family', merge=salt.pillar.get('plasma:overrides'), base='default') %}

{## Merge the flavour map to the default settings ##}
{% do default_settings.plasma.update(os_family_map) %}

{## Merge in plasma:lookup pillar ##}
{% set plasma = salt['pillar.get'](
  'plasma',
  default=default_settings.plasma,
  merge=True
  )
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
