# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "x2go/defaults.yaml" as defaults %}
{% import_yaml "x2go/osfamilymap.yaml" as osfamilymap %}

{% set x2go = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('x2go:lookup', {}),
  ),
  base='x2go')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
