# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "ranger/defaults.yaml" as defaults %}
{% import_yaml "ranger/osfamilymap.yaml" as osfamilymap %}

{% set ranger = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('ranger:lookup', {}),
  ),
  base='ranger')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
