# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "keybase/defaults.yaml" as defaults %}
{% import_yaml "keybase/osfamilymap.yaml" as osfamilymap %}

{% set keybase = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('keybase:lookup', {}),
  ),
  base='keybase')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
