{%- set os_family = salt.grains.get('os_family', None) %}
{%- if os_family == 'RedHat' %}
{%- set init = '/usr/bin/systemctl' %}
{%- set group = '%vagrant' %}
{%- elif os_family == 'Arch' %}
{%- set init = '/bin/systemctl' %}
{%- set group = 'stooj' %}
{%- else %}
{%- set init = '/bin/systemctl' %}
{%- set group = '%sudo' %}
{%- endif %}
Cmnd_Alias VAGRANT_EXPORTS_CHOWN = /bin/chown 0\:0 /tmp/*
Cmnd_Alias VAGRANT_EXPORTS_MV = /bin/mv -f /tmp/* /etc/exports
Cmnd_Alias VAGRANT_NFSD_CHECK = {{ init }} status --no-pager nfs-server.service
Cmnd_Alias VAGRANT_NFSD_START = {{ init }} start nfs-server.service
Cmnd_Alias VAGRANT_NFSD_APPLY = /usr/sbin/exportfs -ar
{{ group }} ALL=(root) NOPASSWD: VAGRANT_EXPORTS_CHOWN, VAGRANT_EXPORTS_MV, VAGRANT_NFSD_CHECK, VAGRANT_NFSD_START, VAGRANT_NFSD_APPLY
