# -*- coding: utf-8 -*-

{## Start with defaults from defaults.yaml ##}
{% import_yaml "office/defaults.yaml" as defaults %}
{% import_yaml "office/osfamilymap.yaml" as osfamilymap %}

{% set office = salt['grains.filter_by'](
  defaults,
  merge=salt['grains.filter_by'](
    osfamilymap,
    merge=salt['pillar.get']('office:lookup', {}),
  ),
  base='office')
%}

{# vim:set et sw=2 ts=4 ft=sls: #}
